*.flac
*.wav
*.kateproject
.swp
.swo
*.qws
*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.html
*.idv
*.lg
*.log
*.tmp
*.toc
*.xref
*.bak*
*.rpt
*.do
*.xrf
*.vo
*.sft
*.sdo
*.csd
*.ini
*.wlf

Hardware/db/*
Hardware/incremental_db/
Hardware/output_files/
Hardware/simulation
Software/build/*
Software/tests/*
Software/gtest/*
Software/.kateproject.d/*
.directory
