*.flac
*.wav
*.kateproject
.swp
.swo
*.qws
*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.html
*.idv
*.lg
*.log
*.tmp
*.toc
*.xref
*.bak*
*.rpt
*.do
*.xrf
*.vo
*.sft
*.sdo
*.csd
*.ini
*.wlf
*.ipinfo
*.sdc
*rtl_work*
*gate_work*
*vstf

Hardware/db/*
Hardware/incremental_db/
Hardware/output_files/
Software/build/*
Software/gtest/*
Software/.kateproject.d/*
Software/audio/*
Software/tests/reports
.directory
