---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: false
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
